<form *ngIf="form" clrForm [formGroup]="form">
  <ng-container *ngIf="field">
    <clr-modal [(clrModalOpen)]="isOpen" clrModalSize="lg">
      <h3 class="modal-title">{{ modalTitle() }}</h3>
      <div class="modal-body">
        <table class="table table-compact table-noborder table-vertical">
          <tbody>
            <tr>
              <th>Object Path</th>
              <td>[{{ field.value.path | objectPath }}]</td>
            </tr>
            <tr>
              <th>Supported Field Types</th>
              <td>{{ type() }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ description() }}</td>
            </tr>
          </tbody>
        </table>

        <clr-radio-container clrInline formGroupName="options">
          <label>Value action</label>
          <clr-radio-wrapper>
            <input
              id="radioAdd"
              type="radio"
              clrRadio
              required
              value="add"
              formControlName="action"
            />
            <label>Add</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input
              id="radioChoose"
              type="radio"
              clrRadio
              required
              value="select"
              formControlName="action"
            />
            <label>Choose</label>>
          </clr-radio-wrapper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-radio-container>

        <ng-container [ngSwitch]="currentAction()">
          <ng-container *ngSwitchCase="'add'">
            <app-create-value-form [formGroup]="form"></app-create-value-form>
          </ng-container>
          <ng-container *ngSwitchCase="'select'">
            <app-choose-value-form
              [formGroup]="form"
              [fieldType]="this.fieldType"
            ></app-choose-value-form>
          </ng-container>
          <div *ngSwitchDefault>{{ currentAction() }}</div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          type="submit"
          (click)="submit()"
          [disabled]="!isValid()"
        >
          Submit
        </button>
        <button class="btn" type="button" (click)="resetForm()">
          Reset
        </button>
      </div>
    </clr-modal>
  </ng-container>
</form>
