<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">ytt-gen-ng</span>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" (click)="uploadModal.open()">Upload</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div class="ytt-nav">
        <app-sidebar></app-sidebar>
      </div>
      <div class="ytt-content">
        <div class="ytt-editor">
          <app-editor
            *ngIf="code.length > 0"
            [code]="code"
            (clickValue)="valueClicked($event)"
          ></app-editor>
        </div>
        <div class="ytt-preview">
          preview
        </div>
      </div>
    </div>
  </div>
</div>

<app-upload-modal #uploadModal (url)="updateCode($event)"></app-upload-modal>

<app-value-modal #valueModal></app-value-modal>
