<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">ytt-gen-ng</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="togging menu">
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="uploadModal.open()" clrDropdownItem>Upload</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="ytt-nav">
        <app-sidebar
          *ngIf="showSidebar"
          [docDescriptors$]="documentDescriptors$"
          (currentDescriptor)="descriptorSelected($event)"
        ></app-sidebar>
      </div>
      <div class="ytt-content">
        <div class="ytt-editor">
          <app-editor
            [descriptor$]="descriptor$"
            (clientField)="fieldClicked($event)"
          ></app-editor>
        </div>
        <div class="ytt-workbench">
          <app-workbench></app-workbench>
        </div>
      </div>
    </div>
  </div>
</div>

<app-upload-modal #uploadModal (url)="updateCode($event)"></app-upload-modal>

<app-value-modal #valueModal></app-value-modal>
