<clr-tree>
  <clr-tree-node
    *clrRecursiveFor="let node of treeNodes; getChildren: getChildren"
    [ngClass]="node.classNames"
    clrExpanded="true"
  >
    <ng-container
      *ngIf="node.isSelected; then clickable; else expandable"
    ></ng-container>
    <ng-template #clickable>
      <span
        class="clickable-node"
        [class.selected]="node.isSelected(node.descriptor)"
        (click)="node.click(node.descriptor)"
      >
        <clr-icon
          [attr.shape]="node.icon"
          class="is-solid"
          *ngIf="node.icon"
        ></clr-icon>
        {{ node.name }}
      </span>
    </ng-template>
    <ng-template #expandable>
      <clr-icon
        [attr.shape]="node.icon"
        class="is-solid"
        *ngIf="node.icon"
      ></clr-icon>
      {{ node.name }}
    </ng-template>
  </clr-tree-node>
</clr-tree>
