<clr-tree>
  <clr-tree-node
    *ngFor="let rootNode of treeNodes"
    clrExpanded="true"
    [ngClass]="rootNode.classNames"
  >
    {{ rootNode.name }}
    <clr-tree-node *ngFor="let gvkNode of rootNode.children" clrExpanded="true">
      <clr-icon [attr.shape]="gvkNode.icon" class="is-solid"></clr-icon>
      {{ gvkNode.name }}
      <clr-tree-node
        *ngFor="let nameNode of gvkNode.children"
        clrExpanded="true"
      >
        <span
          class="clickable-node"
          [class.selected]="isSelected(nameNode.descriptor)"
          (click)="selectDescriptor(nameNode.descriptor)"
        >
          <clr-icon [attr.shape]="nameNode.icon" class="is-solid"></clr-icon>
          {{ nameNode.name }}
        </span>
      </clr-tree-node>
    </clr-tree-node>
  </clr-tree-node>
</clr-tree>
