<clr-tree>
  <clr-tree-node
    *ngFor="let rootNode of treeNodes"
    clrExpanded="true"
    [ngClass]="rootNode.classNames"
  >
    {{ rootNode.name }}
    <clr-tree-node
      *ngFor="let gvkNode of rootNode.children"
      clrExpanded="true"
      [ngClass]="gvkNode.classNames"
    >
      <clr-icon [attr.shape]="gvkNode.icon" class="is-solid"></clr-icon>
      {{ gvkNode.name }}
      <clr-tree-node
        *ngFor="let nameNode of gvkNode.children"
        clrExpanded="true"
        [ngClass]="nameNode.classNames"
      >
        <span
          *ngIf="nameNode.isSelected"
          class="clickable-node"
          [class.selected]="nameNode.isSelected(nameNode.descriptor)"
          (click)="nameNode.click(nameNode.descriptor)"
        >
          <clr-icon [attr.shape]="nameNode.icon" class="is-solid"></clr-icon>
          {{ nameNode.name }}
        </span>
      </clr-tree-node>
    </clr-tree-node>
  </clr-tree-node>
</clr-tree>
