.main-container {
  .content-area {
    background: #252526;
    padding: 1.2em 0;

    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    .ytt-nav {
      flex-basis: 250px;
      overflow-y: scroll;
    }
    .ytt-content {
      flex: 1;

      display: flex;
      flex-direction: column;

      .ytt-editor {
        flex: 1;
      }

      .ytt-workbench {
        flex: 1;
      }
    }
  }
}
